<!-- app/views/home/_contact_form.html.erb -->

<html>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/main.scss">

</html>
<style>
.alert-error {
background-color: #CCA032;
border-color: black;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-alert {
background-color: #CCA032;
border-color: black;
color: black;
text-align: left;
font-size: .8em;
}

::placeholder {
       color:black;
}
</style>

<%= render 'flash' %>
<%= bootstrap_form_with(model: @contact, remote: true, url: home_index_path, class:"form") do |f| %>
  <div class="form-row">
  <div class="form-group col-md-6">
  <%= f.text_field :name, class: "form-control", placeholder: 'John Smith', required: true, label_as_placeholder: true %>
  </div>
  <div class="form-group col-md-6">
  <%= f.email_field :email, class: "form-control", placeholder: 'john@email.com', required: true,label_as_placeholder: true %>
  </div>
  </div>
  <div class="form-group">
    <%= f.text_area :message, class:"form-control", placeholder: 'Enter your message here', required: true,label_as_placeholder: true %>
  </div>
  
  
  <%= f.submit 'Send Message', class: "btn btn-accent-color", style:"float:right; color:white;"%>
<% end %>




