<head>
  <link href="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<style>

    body { background: #274156 !important; }

    .pos {
        color: #2D7D65;
    }

    .neg {
        color: #B54C23;
    }

    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 200px;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .flip-card.active .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: darkgray;
      color: black;
    }

    .flip-card-back {
      background-color: darkgray;
      transform: rotateY(180deg);
    }

    .card_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      grid-gap: 15px;
    }

    .card_values{
      font-size: 20px;
      color: #5386CC;
    }


</style>

<body>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <input type="text" class="form-control" id="myInput" style="font-size: 14px !important; padding-bottom: -5em;" onkeyup="myFunction()" placeholder="Filter by name or symbol" >
    </div>

    <div class="container card_grid" id="myDIV">
      <% @results.each do |result| %>
      <% p result.id%>
        <% next if result.id.odd? || result.id>10 %>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal"><%= result.companyname%> <small style="font-size:10px;" class="text-muted"><%= result.companysymbol%></small> </h4>
              </div>
              <h1 class="card-title card_values"><%= " #{number_with_precision(result.past[-1], :precision => 2)}"%><small class="text-muted">$</small></h1>
              <h1 class="card-title card_values"><%= " #{number_with_precision(result.pred[-1], :precision => 2)}" %><small class="text-muted">$</small></h1>
              <h1 class="card-title  <%= result.change >= 0 ? "pos" : "neg" %>" <%= result.change  %>><%= number_with_precision(result.change, :precision => 2) %><small class="text-muted">%</small></h1>
            </div>

          <div class="flip-card-back">
            <% p result.pred%>
            <%past_values_start = result.past.length - 6 %>
            <%past_values_end = result.past.length%>
            <%counter_i = past_values_start%>
            <%past_values_right_format = []%>
            <% start = -999%>
            <% final = 0%>
            <% final_index = -1000%>
            <%loop do%>
            <%  counter_i += 1%>
            <%  past_values_right_format.push([counter_i+1-result.past.length, result.past[counter_i]])%>
            <%  if counter_i > past_values_end - 2%>
            <% final_index = counter_i+1-result.past.length + 5 %>
            <%    break%>
            <%  end%>
            <%end%>
            <% forecast_correct = [] %>
            <% counter_j = 0 %>
            <% loop do %>
            <% if result.pred[counter_j] %>
            <% if result.change > 0%>
            <% start = (result.pred[counter_j] * 0.91).round %>
            <% else %>
            <% start = (result.pred[counter_j] * 1.05).round %>
            <% end%>
            <% end %>
            <% if result.pred[counter_j + 6]%>
            <% if result.change > 0 %>
            <% final = (result.pred[counter_j + 6] * 1.02).round %>
            <% else %>
            <% final = (result.pred[counter_j + 6] * 0.8).round %>
            <% end%>
            <% end %>
            <% forecast_correct.push([1+counter_j, result.pred[counter_j]]) %>
            <% counter_j += 1 %>
            <% if counter_j > 6%>
            <% break%>
            <% end %>
            <% end %>

            <% if result.change > 0 %>
            <%= area_chart [{name: result.companyname, data:forecast_correct}], colors: ["#029810"], min:start, max:final, curve: true, height:'200px', discrete: true, points: false, prefix: "$", messages: {empty: "No data"}%>
            <% else %>
            <%= area_chart [{name: result.companyname, data:forecast_correct}], colors: ["#C91801"], min:start, max:final, curve: true, height:'200px', discrete: true, points: false, prefix: "$", messages: {empty: "No data"}%>
            <% end %>
          </div>

        </div>
          <%# color:'#029810'
          color:'#C91801' %>
        </div>
        <% end %>
      </div>


    <footer class="pt-4 my-md-5 pt-md-5">
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
var input = document.getElementById("myInput");
input.addEventListener("input", myFunction);

function myFunction(e) {
  var filter = e.target.value.toUpperCase();

  var list = document.getElementById("myDIV");
  var divs = list.getElementsByTagName("div");
  for (var i = 0; i < divs.length; i++) {
    var a = divs[i].getElementsByTagName("h4")[0];

    if (a) {
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        divs[i].style.display = "";
      } else {
        divs[i].style.display = "none";
        if (i == (divs.length-1)) {
          console.log(i);
        }
      }
    }
  }
}

$('.flip-card .flip-card-inner').click(function() {
    $(this).closest('.flip-card').toggleClass('active');
    $(this).css('transform, rotateY(180deg)');
});
</script>


</html>


