
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Polaris Analytics</title>

  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/css/scrolling-nav.css" rel="stylesheet">

  <!-- Custom font styles -->
  <link href="https://fonts.googleapis.com/css?family=Gelasio|Josefin+Sans&display=swap" rel="stylesheet">

  <style>
    /* Background colour for nav bar */
    .bg-dark-green {
      background-color: #284678;
    }

    /* Shrink text in footer */
    .small-main-footer-font {
      font-size: 0.6em;
    }
    /* Align footer container text */
    .center-container-content {
      text-align: center;
    }

    /* Apply font style to every element */
    * {
      font-family: 'Josefin Sans', sans-serif;
    }

    footer-dark-blue {
      color: #034AA6 !important;
    }

    body { padding-top: 70px; }


  </style>

</head>

<body>
  <!-- <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Polaris Analytics</h1>
      <p class="lead">Full website coming soon...</p>
    </div>
  </header> -->

  <!-- Page Content -->
  <div class="container">
  <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card bg-secondary text-white">
          <%= link_to '<button class="card-body">S&P500</button>'.html_safe, company_path(1) %>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card bg-secondary text-white">
          <%= link_to '<button class="card-body">S&P500</button>'.html_safe, company_path(1) %>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card bg-secondary text-white">
          <%= link_to '<button class="card-body">S&P500</button>'.html_safe, company_path(1) %>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card bg-secondary text-white">
          <%= link_to '<button class="card-body">S&P500</button>'.html_safe, company_path(1) %>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <section id="about" style="margin: 0.3em;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
          <p class="lead">Polaris Analytics is a startup focused on brining transparency to quantative forecasting and simplifying the investment selection process. The future website will offer forecast viewing of multiple financial instruments alongside the information that influenced the forecast.</p>
          <ul>
            <li>Currently we are working on making <b>consistent</b> financial forecasts</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section> -->

  <footer class="footer">
    <div class = "container center-container-content">
      <%= link_to image_tag("polaris_logo_trans.png", alt: "logo", height:"21px"), '/', class: 'logo' %>
    </div>
    <div class="container center-container-content">
      <span class="text-muted small-main-footer-font">Copyright © <footer-dark-blue>Polaris Analytics </footer-dark-blue> 2020</span>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/jquery/jquery.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/js/scrolling-nav.js"></script>

</body>

</html>
