<head>
  <link href="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css" rel="stylesheet">
</head>
<style>
    .pos {
        color: #029810;
    }

    .neg {
        color: #C91801;
    }
    </style>

<body>


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 ">Forecasting</h1>
      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
      <input type="text" class="form-control" id="myInput" style="font-size: 14px !important; padding-bottom: -5em;" onkeyup="myFunction()" placeholder="Filter by name or symbol" >
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center" id="myDIV">
      <% @results.each do |result| %>
        <div class="card mb-4 box-shadow fixed-width">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= result.companyname%> <small style="font-size:10px;" class="text-muted"><%= result.companysymbol%></small> </h4>
          </div>
          <div class="card-body">
            <%def range (min, max)%>
            <%    rand * (max-min) + min%>
            <%end%>
            <% final = 0 %>
            <% start = 0 %>
            <%array = []%>
            <%forecast = []%>
            <%i=-1%>
            <%loop do%>
            <%    if i == 15%>
            <%    break %>
            <%  end%>
            <%  i += 1%>
            <%  ran = range(100, 500)%>
            <%  array.push([i, ran])%>
            <%  if i == 15%>
            <%    forecast.push([i, ran])%>   
            <% start = ran %>       
            <%  end%>
            <%end%>
            <%j = 15%>
            <%loop do%>
            <%    if j == 20%>
            <%    break%>
            <%  end%>
            <%  j += 1%>
            <% c_ran = range(100, 1000) %>
            <%  forecast.push([j, c_ran])%>
            <% if j == 19 %>
            <% final = c_ran %>
            <% end %>
            <%end%>
            <h1 class="card-title pricing-card-title <%= (final - start)/start * 100 >= 0 ? "pos" : "neg" %>" <%= (final - start)/start * 100  %>><%= number_with_precision((final - start)/start * 100, :precision => 2) %><small class="text-muted">%</small></h1>
            <!-- <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul> -->
          </div>


                          <% if final - start > 0 %>
                          <%= area_chart [{name:"Forecast", color:'#029810', data:array}], curve: true, height:"200px"%>
                          <% else %>
                          <%= area_chart [{name:"Forecast", color:'#C91801', data:array}], curve: true, height:"200px" %>
                          <% end %>
        </div>
        <% end %>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">© 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
var input = document.getElementById("myInput");
input.addEventListener("input", myFunction);

function myFunction(e) {
  var filter = e.target.value.toUpperCase();

  var list = document.getElementById("myDIV");
  var divs = list.getElementsByTagName("div");
  for (var i = 0; i < divs.length; i++) {
    var a = divs[i].getElementsByTagName("h4")[0];

    if (a) {
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        divs[i].style.display = "";
      } else {
        divs[i].style.display = "none";
        if (i == (divs.length-1)) {
          console.log(i);
        }
      }
    }
  }
}
</script>


</html>


