<!DOCTYPE html>
<html>
  <head>

    <title>Polaris Analytics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <style>
      /* Background colour for nav bar */
      .bg-dark-green {
        /* background-color: #284678; */
      }

      /* Shrink text in footer */
      .small-main-footer-font {
        font-size: 0.6em;
      }
      /* Align footer container text */
      .center-container-content {
        text-align: center;
      }

      /* Apply font style to every element */
      * {
        font-family: 'Josefin Sans', sans-serif;
      }

      footer-dark-blue {
        color: #034AA6 !important;
      }


    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
