<!DOCTYPE html>
<html>
  <head>
    <title>Polaris Analytics</title>
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'polaris_icon.ico' %>
    <!-- <link rel="stylesheet" href="/assets/theme.scss">
    <link rel="stylesheet" href="/assets/template.scss"> -->
    <link rel="stylesheet" href="/assets/main.scss">
    <meta charset="utf-8">

    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    
  </head>
  <style>
    * {
      font-family: 'Ubuntu Mono', monospace;
    }

    .footer-link-color * {
      color: #CCA032;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand pa_header" href="<%= root_path %>">
      <%= image_tag("/assets/polaris.svg", :class => "d-inline-block align-top", :alt => "logo", :height => "30", :width => "30") %>
      Polaris Analytics
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="forecasts">
          <%= link_to '<i class="fas fa-chart-line"></i> Forecasts'.html_safe, root_path, class:"nav-link" %>
        </li>
        <li class="nav-item" id="about">
          <%= link_to '<i class="fas fa-info-circle"></i> About'.html_safe, about_url, class:"nav-link" %>
        </li>
        <li class="nav-item" id="contact">
          <%= link_to '<i class="fas fa-envelope"></i> Contact'.html_safe, contact_url, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2019-2020 Polaris Analytics</p>
    <ul class="list-inline">
      <li class="list-inline-item accent-color "><a href="#">Privacy</a></li>
      <li class="list-inline-item accent-color "><a href="#">Terms</a></li>
      <li class="list-inline-item accent-color "><a href="#">Support</a></li>
    </ul>
    <%= image_tag("/assets/polaris.svg", :class => "", :alt => "logo", :height => "20", :width => "20") %>
  </footer>

</html>

